.forward-enter, .forward-exit,
.back-enter, .back-exit {
  position: absolute !important;
  top: 0;
  width: 100%;
}
.forward-enter-active, .forward-exit-active,
.back-enter-active, .back-exit-active{
  transition: all 1500ms;
  touch-action: none;
}
.forward-enter {
  transform: translateX(100%);
}

.forward-enter-active {
  transform: translateX(0);
}

.forward-exit {
  transform: translateX(0);
}

.forward-exit-active {
  transform: translateX(-100%);
}

.back-enter {
  transform: translateX(-100%);
}

.back-enter-active {
  transform: translateX(0);
}

.back-exit {
  transform: translateX(0);
}

.back-exit-active {
  transform: translateX(100%);
}